@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --main-color:rgb(27, 25, 25);
  --second-color:rgb(50 30 180 / var(--tw-bg-opacity, 1));
  --hover-color:gray
}

::selection{
  color: rgb(152, 128, 85);
  background-color: rgb(214, 211, 211);
}

/* scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--second-color);
  border: 2px solid var(--hover-color);
  border-radius: 20px;
  cursor: url(./assets/icons/rope.png), pointer;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--hover-color);
}

.h-signup{
  height: 65vh;
}

.h-signin{

}

a[class="active"] {
  color:white 
}